<div class='list-profile-container'>
  <%= tag.p 'Who is watching?' %>
  <div class='profile-container'>
    <% @profiles.each_with_index do |profile, i|  %>
      <% if profile %>
        <div class='profile-card'>
          <%= link_to p_dashboard_path(p_id: i), class:'profile-content' do %>
            <% if profile.avatar.present? %>
              <div class='background-profile' style='background-image: url(<%= profile.avatar.url %>)'></div>
            <% end %>
            <%= tag.p profile.name %>
          <% end %>
          <%= button_to profile_delete_path(profile_id: profile.id), class: 'delete', method: :delete do %>
            <%= image_tag 'remove.svg'%>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @profiles.count < 4 %>
      <%= link_to new_profile_path, class:'create-profile-content' do %>
        <%= image_tag 'add.svg' %>
      <% end %>
    <% end %>
  </div>
</div>
