<div class="navbar">
  <div class="search-bar">
  	<%= form_tag("/search", method: :get) do %>
      <%= text_field_tag :query, nil, class: 'search', placeholder: 'Search for...', autocomplete: 'off' %>
    <% end %>
  </div>
  <div class="links">
    <%= tag.a 'Home', href: p_dashboard_path %>
    <%= tag.a 'Watchlist', href: '#' %>
    <%= tag.a 'Watchedlist', href: '#' %>
  </div>
  <div class="user-content">
    <%= image_tag('notification.svg', class: 'notification') %>
    <%= image_tag(@profile.avatar.cropped.url.present? ? @profile.avatar.cropped.url : 'avatar.svg', class: 'user-avatar') %>
  </div>
</div>
