<div class="footer">
  <div class="informations-box">
    <div class="basic-infos">
      <%= image_tag ('logodeitada5.png'), class: 'logo' %>
      <%= tag.p t('views.home.index.informations') %>
    </div>

    <div class="enterprise">
      <%= tag.h2 t('views.home.index.enterprise') %>
      <%= tag.a t('views.home.index.terms') %>
      <%= tag.a t('views.home.index.policy') %>
      <%= tag.a t('views.home.index.about') %>
    </div>

    <div class="contact">
      <%= tag.h2 t('views.home.index.contact') %>
      <%= tag.a t('views.home.index.contact_email') %>
      <%= tag.a t('views.home.index.contact_phone') %>
    </div>
  </div>
</div>
