<div class='background-poster' style='background-image: url(<%= "#{@configuration.base_url}w1920_and_h1080_face#{@images['backdrops'].first['file_path']}" %>)'></div>

  <div class='movie-details-containter'>
    <div class='details-container'>
      <% if @movie %>
        <div class='poster'>
          <%= image_tag("#{@configuration.base_url}w300_and_h450_bestv2#{@movie['poster_path']}") if @movie['poster_path'] %>
        </div>
        <div class='header'>
          <%= tag.p @movie['title'], class: 'title' %>
          <%= tag.p @movie['tagline'], class: 'tagline' %>

          <div class='icons-container'>
            <% if @movie_on_watchlist.present? %>
              <%= render partial: './components/movie/remove_from_watchlist' %>
            <% else %>
              <%= render partial: './components/movie/add_to_watchlist' %>
            <% end %>


            <div class='icons-content' title='Add movie to watched list'>
              <%= image_tag 'list-text-black.svg', class: 'icon-shape' %>
              <%= image_tag 'list-text.svg', class: 'icon-line' %>
            </div>
          </div>
        </div>

        <div class='overview'>
          <%= tag.p 'Visão geral', class: 'overview-title' %>
          <%= tag.p @movie['overview'], class: 'overview-text'%>
        </div>

        <div class='company-infos'>
          <p class='cast-title'>Estrelado por:</p>
          <div class='cast-container'>
            <% @cast.first(3).each do |cast| %>
              <% if cast %>
                <%= tag.p "#{cast['name']};", class: 'cast-text'%>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
    </div>
