<div class='sidebar'>
  <div class='share-container'>
    <%= tag.p 'Compartilhe o filme em suas redes sociais!', class: 'title' %>
    <div class='icons-container'>
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

  <div class='some-infos'>
    <%= tag.p 'Some infos about the movie' %>
    <div class='info-container'>
      <div class='info-title'>
        <%= tag.p 'Status' %>
      </div>
      <div class='info-text'>
        <%= tag.p @movie['status']  if @movie['status'].present?%>
      </div>
    </div>

    <div class='info-container'>
      <div class='info-title'>
        <%= tag.p 'Release date' %>
      </div>
      <div class='info-text'>
        <%= tag.p @movie['release_date'].to_date.strftime('%d/%m/%Y') if @movie['release_date'].present? %>
      </div>
    </div>

    <div class='info-container'>
      <div class='info-title'>
        <%= tag.p 'Runtime' %>
      </div>
      <div class='info-text'>
        <%= tag.p "#{@movie['runtime'] if @movie['runtime'].present?} min" %>
      </div>
    </div>

    <div class='info-container'>
      <div class='info-title'>
        <%= tag.p 'Genres' %>
      </div>
      <% @movie['genres'].each do |genre| %>
        <% if genre %>
          <div class='info-text'>
            <%= tag.p "#{genre['name'] if genre['name'].present?};" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
