<div class="create-user">
  <div class="register-container">
    <div class="register-form">
      <%= tag.h1 'Sign Up' %>

      <%= form_with url: user_registration_path, method: :post, remote: false, class:'form', local: true do |f| %>

        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input name", required: true %>
          <%= f.label :password,'Name', class: 'label' %>
        </div>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", class: "input", required: true %>
          <%= f.label :emails,'Email', class: "label" %>
        </div>


        <div class="field">
          <%= tag.p 'Birth Date' %>
          <%= f.date_field :birth_date, autofocus: true, autocomplete: "new-password", class: "input", required: true %>
        </div>

        <div class="field">
          <%= tag.p 'Avatar', class: 'avatar-label' %>
          <%= f.file_field :avatar, class: 'avatar-upload' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input", required: true %>
          <%= f.label :password, 'New password', class: 'label' %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", required: true %>
          <%= f.label :password_confirmation, 'Confirm password', class: "label" %>
        </div>

        <div class="buttons">
          <div class="field">
            <%= f.submit 'Submit', class: "submit-button" %>
            <%= tag.a 'Dont have an account?', class: 'links', href: new_user_registration_path %>
          </div>
        </div>
      <% end %>

      <div class='omni-auth'>
          <%= form_tag(user_facebook_omniauth_authorize_path, class: 'facebook', method: :post) do %>
            <button type='submit'>Continue with Facebook</p>
            <%= image_tag 'facebook.png' %>
          <% end %>
      </div>
    </div>

  </div>
</div>
