<div class="create-user">
  <div class="register-container">
    <div class="login-box">
      <a href="#" class="back">
        <%= image_tag('right-arrow-white.svg', class: 'back-arrow') %>
      </a>
      <%= tag.h2 t('views.registrations.new.welcome_back')%>
      <%= tag.p t('views.registrations.new.login_text')%>

    <%= tag.a t('views.registrations.new.login_button'), href: new_user_session_path %>
    </div>

    <div class="register-form">
      <%= tag.h1 t('views.registrations.new.create_account')%>
      <a href="#">
        <%= image_tag('facebook-logo.svg', class: 'omni-auth') %>
      </a>
      <a href="#">
        <%= image_tag('google-logo.svg', class: 'omni-auth') %>
      </a>

      <%= tag.p t('views.registrations.new.or_use_email')%>

      <%= form_with url: user_registration_path, method: :post, remote: false, local: true do |f| %>

        <div class="previous-container">
          <a href="#" id='previousButton'>
            <%= image_tag('right-arrow.svg', class: 'previous') %>
         </a>
        </div>

        <div class="register-form-container" id='formContainer'>

          <div class="field">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "name", class: "input", required: true %>
            <%= f.label :password, t('views.registrations.new.name'), id: 'nameLabel', class: 'label' %>
          </div>

          <div class="field">
            <%= f.email_field :email, autocomplete: "email", id: "email", class: "input", required: true %>
            <%= f.label :emails, t('views.registrations.new.email'), id: 'emailLabel', class: "label" %>
          </div>

        </div>

        <div class="register-form-container" id='formContainer1'>
          <div class="image-container">
            <%= image_tag('photo-camera.svg', class: 'omni-auth') %>
          </div>
          <label for= 'avatar' class="upload-picture"><%= t('views.registrations.new.upload_picture') %></label>
          <%= f.file_field :avatar, id:'avatar', class: 'avatar-upload' %>

        </div>


        <div class="register-form-container" id='formContainer2'>
            <div class="field">
            <%= tag.p t('views.registrations.new.birth_date') %>
            <%= f.date_field :birth_date, autofocus: true, autocomplete: "new-password", id: "birth_date", class: "input", required: true %>
          </div>

        </div>

        <div class="register-form-container" id='formContainer3'>

          <div class="field">
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", id: "password", class: "input", required: true %>
            <%= f.label :password, t('views.registrations.new.password'), id: 'passwordLabel', class: 'label' %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "passwordConfirmation", class: "input", required: true %>
            <%= f.label :password_confirmation, t('views.registrations.new.confirm_password'), id: 'confirmPasswordLabel', class: "label" %>
          </div>

        </div>

        <div class="buttons">
          <div class="continue-register">
            <a href="#" id='continueResgistration'>
              <%= t('views.registrations.new.continue_resgistration')%>
              <%= image_tag('right-arrow.svg', class: 'right-arrow') %>
            </a>
          </div>

          <div class="field">
            <%= f.submit t('views.registrations.new.save'), id: 'registerSubmitButton', class: "submit-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
