<div class='movies-container'>
  <%= render partial: './components/dashboard_navbar' %>
  <%= render partial: './components/movie/overview' %>

  <div class='information-container'>
    <div class='sidebar'>
      <div class='share-container'>
        <%= tag.p 'Compartilhe o filme em suas redes sociais!', class: 'title' %>
        <div class='icons-container'>
          <div class='icons-content' title='Share with Facebook!'>
            <%= image_tag 'facebook-white.svg', class: 'icon-white' %>
            <%= image_tag 'facebook-black.svg', class: 'icon-black' %>
          </div>

          <div class='icons-content' title='Share with Instagram!'>
            <%= image_tag 'instagram-white.svg', class: 'icon-white' %>
            <%= image_tag 'instagram-black.svg', class: 'icon-black' %>
          </div>

          <div class='icons-content' title='Share with Twitter!'>
            <%= image_tag 'twitter-white.svg', class: 'icon-white' %>
            <%= image_tag 'twitter-black.svg', class: 'icon-black' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
