<div class="login">
  <div class="login-container">
    <div class="login-form">
      <%= tag.h1 'Sign In' %>

      <%= form_with url: user_session_path, method: :post, remote: false, local: true do |f| %>

        <div class="login-form-container">

          <div class="field">
            <%= f.email_field :email, autocomplete: "email", id: "email", class: "input", required: true %>
            <%= f.label :emails, 'Email', id: 'emailLabel', class: "label" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", id: 'userPassword', class: "input", required: true %>
            <%= f.label :password, 'Password', class: 'label' %>
            <%= tag.a 'Have an account?', class: 'links', href: new_user_password_path %>
            <%= tag.a 'Forgot your password?', class: 'links', href: new_user_password_path %>
          </div>
        </div>

        <div class="buttons">
          <div class="field">
            <%= f.submit 'Submit', class: "submit-button" %>
          </div>

          <div class='omni-auth'>
            <%= link_to '#', class: 'facebook' do %>
              <p>Continue with Facebook</p>
              <%= image_tag 'facebook.png' %>
            <% end %>

            <%= link_to '#', class: 'google' do %>
              <%= image_tag 'google.svg' %>
              <p>Continue with Google</p>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
