<div class='notification-container'>
  <%= image_tag('notification.svg', class: 'notification') %>

  <div class="dropdown-content">
    <div class='title'>
      <%= tag.p 'Notifications' %>
    </div>

    <div class='notifications'>
      <a href='#'>
        <img src='http://image.tmdb.org/t/p/w154/8UlWHLMpgZm9bx6QYh0NFoq67TZ.jpg' />
        <%= tag.p 'Dont forget to watch the Wonder Woman 1984 movie!' %>
      </a>

      <a href='#'>
        <img src='http://image.tmdb.org/t/p/w154/8UlWHLMpgZm9bx6QYh0NFoq67TZ.jpg' />
        <%= tag.p 'Dont forget to watch the Wonder Woman 1984 movie!' %>
      </a>

      <a href='#' class='viewed'>
        <img src='http://image.tmdb.org/t/p/w154/8UlWHLMpgZm9bx6QYh0NFoq67TZ.jpg' />
        <%= tag.p 'Dont forget to watch the Wonder Woman 1984 movie!' %>
      </a>
    </div>
  </div>
</div>
